{
  "parser": "babel-eslint",
  "extends": ["react", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
